name: Build and Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

# To rozwiązuje błąd 403 - daje skryptowi prawo do stworzenia Release
permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          arch: 'win64_mingw'

      - name: Build Application
        shell: bash
        run: |
          mkdir -p build
          cd build
          # Używamy standardowego CMake, który zadziałał ostatnio
          cmake .. -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release
          cmake --build .

      - name: Deploy Libraries
        shell: bash
        run: |
          cd build
          # Przygotowanie DLL-ek (windeployqt)
          windeployqt --no-translations --compiler-runtime Rename_It.exe
          
          # Kopiowanie tłumaczeń, jeśli istnieją
          if [ -d "../translations" ]; then cp -r ../translations .; fi

      - name: Create Zip
        shell: pwsh
        run: |
          # Pakowanie wszystkiego z folderu build do ZIP
          Compress-Archive -Path build/* -DestinationPath RenameIt_Windows.zip

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: RenameIt_Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}