name: Build and Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          arch: 'win64_mingw'

      - name: Build Application
        shell: bash
        run: |
          mkdir -p build
          cd build
          # Flaga -DQT_NO_ASSET_APPENDING=ON jest opcjonalna, skoro masz to w CMakeLists.txt, 
          # ale zostawienie jej tutaj nie zaszkodzi.
          cmake .. -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DQT_NO_ASSET_APPENDING=ON
          cmake --build .
          
      - name: Deploy Libraries
        shell: bash
        run: |
          cd build
          # To narzędzie skopiuje wszystkie potrzebne DLL-ki do folderu build
          windeployqt --qmldir ../ui --no-translations --compiler-runtime Rename_It.exe
          # Kopiujemy pliki tłumaczeń, jeśli istnieją
          if [ -d "../translations" ]; then cp -r ../translations .; fi

      - name: Create Zip
        shell: pwsh
        run: |
          # Pakujemy zawartość folderu build do jednego pliku ZIP
          Compress-Archive -Path build/* -DestinationPath RenameIt_Windows.zip

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: RenameIt_Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}