name: Build and Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          arch: 'win64_mingw'

      - name: Build Application
        shell: bash
        run: |
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release
          cmake --build . --parallel 4
          
      - name: Deploy Libraries
        shell: bash
        run: |
          cd build
          # windeployqt jest w PATH dzięki install-qt-action
          windeployqt --qmldir ../ui --no-translations --compiler-runtime Rename_It.exe
          # Kopiujemy folder translations jeśli istnieje
          if [ -d "../translations" ]; then cp -r ../translations .; fi

      - name: Create Zip
        shell: pwsh
        run: |
          Compress-Archive -Path build/* -DestinationPath RenameIt_Windows.zip

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: RenameIt_Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}